html(lang="en")
	head
		title  Shipping Database - Ships from around the world
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		style.
			button{
				box-shadow: 0 5px #bbbbbb;
				border: none;
				font-size: 20;
				margin: 1;
			}
	body
		.container
			#header
				h1  Shipping Database 
				a(href="http://localhost:3000")  HomeReset
				br
			#content.well
				.row
					.col-sm-5: h4 Search Nam
						form(action="")
							input#search_name(type="text" autocomplete="off")
						button#submit_name result

					.col-sm-5: h4 Search IMO
						form(action="")
							input#search_imo(type="text" autocomplete="off")
							input#check(type="checkbox" name="check")
							small Tim chinh xac
						button#submit_imo result

				div#list_ship 


		script.
			$(document).ready(() => {
				//search name---------------------------------------------------------------------------
				$("#submit_name").click(func = () => {
					let content = $("#search_name").val();
					$.post('search_name', 'name='+content, (data, status)=>{
						let code="<small>search for 'name'=/'" + content + "'/</small>"
								+"<div class='row'>"
									+"<div class='col-sm-2'> <b>Ten tau</b> </div>"
									+"<div class='col-sm-2'> <b>IMO</b> </div>"
									+"<div class='col-sm-4'> <b>Chu tau</b> </div>"
									+"<div class='col-sm-2'> <b>Flag</b> </div>"
								+"</div>";
						for(let i=0; i<data.length; i++)
						{
							code=code 
								+"<div class='row'>"
									+"<div class='col-sm-2'>" + data[i].Name + "</div>"
									+"<div class='col-sm-2'>" + data[i].IMO + "</div>"
									+"<div class='col-sm-4'>" + data[i].Owners + "</div>"
									+"<div class='col-sm-2'>" + data[i].Flag + "</div>"
									+"<div class='col-sm-1'>"
										+"<form action='/detail' method='get'>"
											+"<input type='hidden' name='_id' value=" + data[i]._id + ">"
											+"<input type='submit' value='view'>"
										+"</form>"
									+"</div>"
								+"</div>";
						}

						code=code
								+"<form action='/next_list' method='post'>"
									+"<b> <input type='submit' value='Next >>'> </b>";

						$("#list_ship").html(code);
					});

				});

				//search imo------------------------------------------------------------------------------
				$("#submit_imo").click(func2 = () => {
					let content = $("#search_imo").val();
					let check = 0;
					if($('#check').is(':checked')) check = 1;
					$.post('search_imo', 'imo='+content+'&check='+check, (data, status)=>{
						let code="<small>search for 'imo'=/'" + content + "'/</small>"
								+"<div class='row'>"
									+"<div class='col-sm-2'> <b>Ten tau</b> </div>"
									+"<div class='col-sm-2'> <b>IMO</b> </div>"
									+"<div class='col-sm-4'> <b>Chu tau</b> </div>"
									+"<div class='col-sm-2'> <b>Flag</b> </div>"
								+"</div>";
						for(let i=0; i<data.length; i++)
						{
							code=code 
								+"<div class='row'>"
									+"<div class='col-sm-2'>" + data[i].Name + "</div>"
									+"<div class='col-sm-2'>" + data[i].IMO + "</div>"
									+"<div class='col-sm-4'>" + data[i].Owners + "</div>"
									+"<div class='col-sm-2'>" + data[i].Flag + "</div>"
									+"<div class='col-sm-1'>"
										+"<form action='/detail' method='get'>"
											+"<input type='hidden' name='_id' value=" + data[i]._id + ">"
											+"<input type='submit' value='view'>"
										+"</form>"
									+"</div>"
								+"</div>";
						}

						code=code
								+"<form action='/next_list' method='post'>"
									+"<b> <input type='submit' value='Next >>'> </b>";

						$("#list_ship").html(code);
					});

				});
				
				
			});